<div class="signers">
    <h1>Thanks for signing</h1>
    {{#data}}
    <ul>
    {{#if homepage}}
        <li> <a href={{homepage}}>{{firstname}} {{lastname}}</a>, {{age}}, <a href="/petition/signers/{{city}}">{{city}}</a> </li>
    {{else}}
        <li>{{firstname}} {{lastname}}, {{age}}, <a href="/petition/signers/{{city}}">{{city}}</a></li>
    {{/if}}
</ul>
    {{/data}}

</div>
